* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-size: 62.5%;
  }
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  header{
      display:flex;
      justify-content: space-between;
      margin: 2%;
      font-size: 1.5rem;
  }
  a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    
  }
  #question-area{
    display:flex;
    justify-content: center;
    width:100%;
  }
  header .link{
      color:#cf03fc;
  }
  .timer-area{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #timer{
    margin-left: 8px;
    font-weight: bolder;
    font-size: 2rem;
  }
  main{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 10%;
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  .btn{
    color: white;
    outline: none;
    border: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #320145;
    font-size: 3rem;
    border-radius: 15px;
    top: -3px;
    box-shadow: 0 3px var(--grey);
  }
  .answerBtn{
    text-align:left;
    height:60px;
    width: 400px;
  }
  .home-screen-title{
    display:block;
    font-size: 3.2rem;
    font-weight: bolder;
    text-align: center;
    
  }
  .home-screen-text{
    margin-top: 20px;
    display:inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    
  }
  .question{
    display:inline-block;
  }
  .question-title{
    display:flex;
    flex-wrap: wrap;
    font-size:3.2rem;
    font-weight:bold;
    margin-top:20px;
    width:80%;
    text-align: left;
    margin-left: 15%;
  }
  .list-answers{
    font-weight: normal;
    font-size: 1.6rem;
    display:flex;
    list-style: inside;
  }
  .sub-end-area{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    width:100%;
    align-items: center;
  }
  .end-title{
    display: flex;
    justify-content: center;
    width:100%;
  }
  .end-text{
    justify-content: center;
    display:flex;
    width:100%;
  }
  .enter-ini{
    display: flex;
    justify-content: center;
  }
  .response-area{
    display: flex;
    width: 100%;
  }
 .box{
   margin: 10px;
   font-size: 2.5rem;
   height: 50px;

 }
 .input{
   float: right;
 }
 .sub-answer-area{
   margin-top: 20px;
   display: flex;
   justify-content: start;
   width: 70%;
   border-bottom: 3px solid grey;    
 }
 .bottom{
   margin-bottom: 20px;
   color:grey;
   font-size: 3rem;
   
 }
 .backBtn,.clearBtn{
   margin: 10px;
   height:50px;
   width:100px;
 }
 .hs-area{
   display:flex;
   font-size: 3rem;
   font-weight: bold;
 }
 .hs-score{
   background-color: #fcbbf4;
 }